$add-button-background: linear-gradient(90deg, #4CCB77 6.99%, #00A438 96.85%);
$change-button-background: linear-gradient(90deg, #7DFFFF 6.99%, #5BBDBD 96.85%);
$delete-button-background: linear-gradient(90deg, #FF8080 6.99%, #FF3131 96.85%);